.erc721list__container {
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 3rem;
	padding: 2rem;
	font-size: 1.5rem;
}

.erc721list__container .erc721__token__card {
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 28rem;
	color: #fff;
	box-shadow: 1px 8px 15px 5px #dee0e3;
	background-image: linear-gradient(
		to top,
		#d16ba5,
		#c777b9,
		#ba83ca,
		#aa8fd8,
		#9a9ae1,
		#8aa7ec,
		#79b3f4,
		#69bff8,
		#52cffe,
		#41dfff,
		#46eefa,
		#5ffbf1
	);
	border: 1px solid lightgrey;
}
.erc721list__container .erc721__token__card .erc721__token__img__container {
	width: 100%;
}
.erc721list__container .erc721__token__card .erc721__token__img {
	width: 100%;
	height: 30rem;
}

.erc721list__container .erc721__token__card .erc721__token__profile {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-size: 1rem;
	padding: 1rem;
	width: 100%;
}
.erc721list__container .erc721__token__card .erc20__token__transfer {
	padding: 1rem;
}
