.erc20list__container {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	padding: 2rem;
	margin-bottom: 6rem;
	font-size: 1.5rem;
	gap: 3rem;
}

.erc20list__container .erc20__token__card {
	background-color: rgb(255, 255, 255);
	padding: 3rem;
	display: flex;
	flex-direction: column;
	min-height: 25rem;
	min-width: 23.333333%;
	border-radius: 15px;
	box-shadow: 0px 5px 15px -1px #b2ffd0;
	background-image: linear-gradient(
		to right top,
		#edf6f5,
		#c8fdec,
		#b2ffd0,
		#b6ffa3,
		#cffc6b
	);
}

.erc20list__container .erc20__token__card .erc20__token__profile {
	display: flex;
	flex-direction: column;
	font-weight: 300;
}

.erc20list__container
	.erc20__token__card
	.erc20__token__profile
	.erc20__token__profile__name,
.erc20list__container
	.erc20__token__card
	.erc20__token__profile
	.erc20__token__profile__balance {
	margin-bottom: 1rem;
	font-weight: 400;
}

.erc20list__container .erc20__token__card .erc20__token__transfer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 3rem;
	width: 100%;
}

.erc20list__container
	.erc20__token__card
	.erc20__token__transfer
	.token__send__button {
	cursor: pointer;
}

.fas.fa-comments-dollar {
	font-size: 6rem;
}
.erc20list__container
	.erc20__token__card
	.erc20__token__transfer
	.sendErc20Btn {
	border-radius: 15px;
}
