.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 3rem;
	background-color: #fffafa;
	box-shadow: 0px 5px 15px -13px #214aff;
}

.header .header__logo {
	display: flex;
	align-items: center;
}

.header .header__logo .header__logo__img {
	width: 3.5rem;
	margin-right: 1rem;
}

.header .header__logo .header__logo__title {
	letter-spacing: 2px;
}
.header__account__user-icon {
	background-color: #fff;
	height: 4rem;
	width: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: 2px solid #9ba8e0;
	cursor: pointer;
	transition: all 0.2s;
}
.header__account__user-icon:hover {
	box-shadow: 0px 5px 15px -5px #214aff;
}

.fa,
.fas {
	font-size: 2.7rem;
	color: #9ba8e0;
}

.search_box_container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* SearchBox */
.search_box {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #c4ccf1;
	border-radius: 15px;
}

.search_box .search_box__input {
	width: 35rem;
	height: 70px;
	padding: 1rem;
	border: none;
	transition: 0.2s;
	font-size: 1rem;
	outline: none;
}

.search_box .search_box__input:focus::placeholder {
	color: transparent;
}

.search_box .search_box__btn {
	height: 70px;
	padding: 1rem;
	border: none;
	background-color: #fff;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	cursor: pointer;
	font-size: 2rem;
}
.search_box .search_box__remove_btn {
	height: 70px;
	padding: 1rem;
	border: none;
	background-color: #fff;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	cursor: pointer;
	font-size: 2rem;
}

.search_box .btn:disabled {
	cursor: not-allowed;
}
