* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 14px;
}

body {
	background: linear-gradient(
		90deg,
		rgba(245, 245, 244, 1) 0%,
		rgba(194, 224, 228, 1) 50%,
		rgba(45, 219, 203, 0.25) 100%
	);
}

a {
	text-decoration: none;
}

#root {
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 11rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
